@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,400italic,600,700,600italic);
/* line 11, ../scss/custom.scss */
html,
body {
  height: 100%;
  overflow: hidden;
}

/* line 17, ../scss/custom.scss */
body {
  font-family: 'Source Sans Pro';
}

/* line 21, ../scss/custom.scss */
ul,
li {
  font-family: 'Source Sans Pro';
}

/* line 26, ../scss/custom.scss */
h1,
h2,
h3,
h4,
h5,
p,
a {
  font-family: 'Source Sans Pro';
}

/* line 36, ../scss/custom.scss */
h1 {
  font-weight: 700;
}

/* line 40, ../scss/custom.scss */
h2 {
  font-weight: 300;
}

/* line 44, ../scss/custom.scss */
h3 {
  font-weight: 600;
}

/* line 48, ../scss/custom.scss */
h6 {
  font-weight: 400;
}

/* line 52, ../scss/custom.scss */
.row.row {
  margin-right: 0;
}

/* line 57, ../scss/custom.scss */
#mainContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

/* line 67, ../scss/custom.scss */
.fullwidth {
  max-width: 100%;
}

/* line 71, ../scss/custom.scss */
.sidebar {
  padding-left: 0;
  padding-right: 0;
  background-color: #f9f9f9;
  position: fixed;
  height: 100%;
}
/* line 77, ../scss/custom.scss */
.sidebar .logo {
  border-bottom: 1px solid white;
}
/* line 78, ../scss/custom.scss */
.sidebar .logo img {
  width: 60%;
  margin: 20%;
}
/* line 85, ../scss/custom.scss */
.sidebar .categories ul {
  margin-left: 0;
}
/* line 88, ../scss/custom.scss */
.sidebar .categories a {
  display: block;
  padding: 15px 40px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  border-bottom: 1px solid white;
  list-style-type: none;
  color: black;
  transition: all ease .4s;
  border-left: 0px solid #FF9448;
  cursor: pointer;
}
/* line 99, ../scss/custom.scss */
.sidebar .categories a:hover, .sidebar .categories a:active, .sidebar .categories a:focus {
  background-color: white;
  font-weight: 600;
  border-left: 4px solid #FF9448;
}

/* line 109, ../scss/custom.scss */
.selected {
  background-color: white;
  font-weight: 600;
  border-left: 4px solid #FF9448;
}

/* line 115, ../scss/custom.scss */
.content {
  margin-left: 0;
  padding-top: 100px;
}

/* line 120, ../scss/custom.scss */
.title {
  position: fixed;
  z-index: 20;
  background-color: white;
  padding: 15px 60px;
  width: 100%;
  top: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
/* line 121, ../scss/custom.scss */
.title img {
  display: none;
  max-height: 40px;
  margin-right: 15px;
  float: left;
}
/* line 127, ../scss/custom.scss */
.title h1 {
  font-size: 24px;
}
/* line 129, ../scss/custom.scss */
.title h1 span {
  display: none;
}

/* line 149, ../scss/custom.scss */
.material {
  position: relative;
  z-index: 0;
  padding-left: 60px;
  padding-right: 60px;
}
/* line 154, ../scss/custom.scss */
.material p {
  width: 70%;
}
/* line 157, ../scss/custom.scss */
.material h2 {
  font-size: 36px;
  padding-bottom: 20px;
  color: #E82646;
}
/* line 162, ../scss/custom.scss */
.material h3 {
  font-size: 20px;
}
/* line 165, ../scss/custom.scss */
.material h6 {
  font-size: 14px;
  color: #959595;
}
/* line 169, ../scss/custom.scss */
.material hr {
  margin: 90px 0;
  border: solid #f5f5f5;
  border-width: 1px 0 0;
}

/* line 176, ../scss/custom.scss */
.break {
  display: none;
}

/* line 182, ../scss/custom.scss */
.color .color-block {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 5px 0;
  float: left;
}
/* line 189, ../scss/custom.scss */
.color .pink {
  background-color: #E82646;
}
/* line 192, ../scss/custom.scss */
.color .peach {
  background-color: #FF9448;
}
/* line 195, ../scss/custom.scss */
.color .orange {
  background-color: #F05046;
}
/* line 198, ../scss/custom.scss */
.color .plum {
  background-color: #8C6969;
}
/* line 201, ../scss/custom.scss */
.color .grey {
  background-color: #606060;
}
/* line 204, ../scss/custom.scss */
.color .light-pink {
  background-color: #FFE4E8;
}
/* line 207, ../scss/custom.scss */
.color .gradient {
  background-image: linear-gradient(to left, #FF9448 0%, #F05046 80%);
  -moz-background-image: linear-gradient(to left, #FF9448 0%, #F05046 80%);
  -webkit-background-image: linear-gradient(to left, #FF9448 0%, #F05046 80%);
}

/* line 216, ../scss/custom.scss */
.typography .h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
}
/* line 221, ../scss/custom.scss */
.typography .h2 {
  font-size: 60px;
  font-weight: 300;
  line-height: 1;
}
/* line 226, ../scss/custom.scss */
.typography .h3 {
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
}
/* line 231, ../scss/custom.scss */
.typography .p {
  width: 50%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}
/* line 237, ../scss/custom.scss */
.typography .a {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  text-decoration: underline;
  line-height: 1.5;
}

/* line 248, ../scss/custom.scss */
.buttons .button {
  font-family: 'Source Sans Pro';
}
/* line 251, ../scss/custom.scss */
.buttons .bg-white,
.buttons .bg-dark,
.buttons .bg-gradient {
  padding: 30px;
  border-radius: 2px;
}
/* line 254, ../scss/custom.scss */
.buttons .bg-white .row,
.buttons .bg-dark .row,
.buttons .bg-gradient .row {
  margin: 0;
}
/* line 257, ../scss/custom.scss */
.buttons .bg-white .columns,
.buttons .bg-dark .columns,
.buttons .bg-gradient .columns {
  padding: 0;
}
/* line 263, ../scss/custom.scss */
.buttons .bg-white {
  background-color: rgba(250, 250, 250, 0.5);
}
/* line 265, ../scss/custom.scss */
.buttons .bg-white .button {
  background-color: #FF9448;
  border-bottom: 3px solid #e58540;
  border-top: 3px solid #FF9448;
  color: white;
  border-radius: 2px;
  transition: all ease .4s;
}
/* line 272, ../scss/custom.scss */
.buttons .bg-white .button:hover {
  background-color: #e58540;
  border-top: 3px solid #d87d3d;
  border-bottom: 3px solid #e58540;
}
/* line 278, ../scss/custom.scss */
.buttons .bg-white .outlined {
  background-color: transparent;
  border: 1px solid transparent;
  -moz-border-image: -moz-linear-gradient(right, #FF9448 0%, #E82646 80%);
  -webkit-border-image: -webkit-linear-gradient(right, #FF9448 0%, #E82646 80%);
  border-image: linear-gradient(to left, #FF9448 0%, #E82646 80%);
  border-image-slice: 1;
  color: #E82646;
  border-radius: 2px;
  padding: .8rem 1.8rem .8625rem 1.8rem;
  transition: all ease .4s;
}
/* line 289, ../scss/custom.scss */
.buttons .bg-white .outlined:hover {
  background-color: #FFE4E8;
  border: 1px solid transparent;
  -moz-border-image: -moz-linear-gradient(right, #FF9448 0%, #E82646 80%);
  -webkit-border-image: -webkit-linear-gradient(right, #FF9448 0%, #E82646 80%);
  border-image: linear-gradient(to left, #FF9448 0%, #E82646 80%);
  border-image-slice: 1;
}
/* line 298, ../scss/custom.scss */
.buttons .bg-white .disabled {
  border: 1px solid #cacaca;
  color: #606060;
  background-color: #f9f9f9;
}
/* line 302, ../scss/custom.scss */
.buttons .bg-white .disabled:hover {
  border: 1px solid #cacaca;
  color: #606060;
  background-color: #f9f9f9;
}
/* line 309, ../scss/custom.scss */
.buttons .bg-dark {
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 311, ../scss/custom.scss */
.buttons .bg-dark .button {
  background-color: #FF9448;
  border-bottom: 3px solid #e58540;
  border-top: 3px solid #FF9448;
  color: white;
  border-radius: 2px;
  transition: all ease .4s;
}
/* line 318, ../scss/custom.scss */
.buttons .bg-dark .button:hover {
  background-color: #e58540;
  border-top: 3px solid #d87d3d;
  border-bottom: 3px solid #e58540;
}
/* line 324, ../scss/custom.scss */
.buttons .bg-dark .outlined {
  background-color: transparent;
  border: 1px solid transparent;
  -moz-border-image: -moz-linear-gradient(right, #FF9448 0%, #F05046 80%);
  -webkit-border-image: -webkit-linear-gradient(right, #FF9448 0%, #F05046 80%);
  border-image: linear-gradient(to left, #FF9448 0%, #F05046 80%);
  border-image-slice: 1;
  border-radius: 2px;
  padding: .8rem 1.8rem .8625rem 1.8rem;
  transition: all ease .4s;
  color: #FF9448;
}
/* line 335, ../scss/custom.scss */
.buttons .bg-dark .outlined:hover {
  background-color: #4c4445;
  color: white;
  border: 1px solid transparent;
  -moz-border-image: -moz-linear-gradient(right, #FF9448 0%, #F05046 80%);
  -webkit-border-image: -webkit-linear-gradient(right, #FF9448 0%, #F05046 80%);
  border-image: linear-gradient(to left, #FF9448 0%, #F05046 80%);
  border-image-slice: 1;
}
/* line 345, ../scss/custom.scss */
.buttons .bg-dark .disabled {
  border: 1px solid #8f8f8f;
  color: #afafaf;
  background-color: #6f6f6f;
}
/* line 349, ../scss/custom.scss */
.buttons .bg-dark .disabled:hover {
  border: 1px solid #8f8f8f;
  color: #afafaf;
  background-color: #6f6f6f;
}
/* line 356, ../scss/custom.scss */
.buttons .bg-gradient {
  background-image: linear-gradient(to left, #FF9448 0%, #F05046 80%);
}
/* line 358, ../scss/custom.scss */
.buttons .bg-gradient .button {
  background-color: #E82646;
  border-bottom: 3px solid #d0223f;
  border-top: 3px solid #E82646;
  color: white;
  border-radius: 2px;
  transition: all ease .4s;
}
/* line 365, ../scss/custom.scss */
.buttons .bg-gradient .button:hover {
  background-color: #d0223f;
  border-top: 3px solid #c5203b;
  border-bottom: 3px solid #d0223f;
}
/* line 371, ../scss/custom.scss */
.buttons .bg-gradient .outlined {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 2px;
  padding: .8rem 1.8rem .8625rem 1.8rem;
  transition: all ease .4s;
  color: white;
}
/* line 378, ../scss/custom.scss */
.buttons .bg-gradient .outlined:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: #E82646;
  border: 1px solid white;
}
/* line 384, ../scss/custom.scss */
.buttons .bg-gradient .disabled {
  border: 1px solid #ffecee;
  color: #fff1f3;
  background-color: rgba(255, 228, 232, 0.4);
}
/* line 388, ../scss/custom.scss */
.buttons .bg-gradient .disabled:hover {
  border: 1px solid #ffecee;
  color: #fff1f3;
  background-color: rgba(255, 228, 232, 0.4);
}

/* line 398, ../scss/custom.scss */
.styled-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 402, ../scss/custom.scss */
.styled-list li {
  padding-left: 1em;
  text-indent: -.7em;
}

/* line 409, ../scss/custom.scss */
.peach li:before {
  content: "• ";
  color: #FF9448;
  padding-right: 7px;
}

/* line 417, ../scss/custom.scss */
.pink li:before {
  content: "• ";
  color: #E82646;
  padding-right: 7px;
}

/* line 425, ../scss/custom.scss */
.orange li:before {
  content: "• ";
  color: #F05046;
  padding-right: 7px;
}

/* line 433, ../scss/custom.scss */
.tab {
  font-family: 'Source Sans Pro';
}
/* line 435, ../scss/custom.scss */
.tab .row {
  margin: 0;
}

/* line 441, ../scss/custom.scss */
.tabs .tab-title {
  width: 25%;
}
/* line 443, ../scss/custom.scss */
.tabs .tab-title a {
  outline: none;
  text-transform: uppercase;
  text-align: center;
  color: #606060;
  font-weight: 600;
  background: #f6f6f6;
  border-top: 2px solid #f6f6f6;
  border-bottom: 1px solid #f1f1f1;
  border-right: 1px solid white;
  transition: all ease .4;
}
/* line 454, ../scss/custom.scss */
.tabs .tab-title a:hover {
  background: #f9f9f9;
  border-bottom: 1px solid #f9f9f9;
  border-top: 2px solid #f9f9f9;
}
/* line 462, ../scss/custom.scss */
.tabs .active a, .tabs .active a:hover {
  background-color: #f9f9f9 !important;
  border-top: 2px solid #E82646;
  border-bottom: 1px solid #f9f9f9;
  border-right: 1px solid #f1f1f1;
  border-left: 1px solid #f1f1f1;
}

/* line 472, ../scss/custom.scss */
.tabs-content {
  background: #f9f9f9;
  padding: 20px;
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}

/* line 481, ../scss/custom.scss */
table {
  border: none;
  border-spacing: 0;
  font-family: "Source Sans Pro";
}
/* line 486, ../scss/custom.scss */
table tr:first-child th:first-child {
  border-radius: 3px 0 0 0;
}
/* line 489, ../scss/custom.scss */
table tr:first-child th:last-child {
  border-radius: 0 3px 0 0;
}
/* line 494, ../scss/custom.scss */
table tr:last-child td:first-child {
  border-radius: 0 0 0 3px;
}
/* line 497, ../scss/custom.scss */
table tr:last-child td:last-child {
  border-radius: 0 0 3px 0;
}
/* line 502, ../scss/custom.scss */
table tr td, table tr th {
  padding-left: 1em;
}
/* line 505, ../scss/custom.scss */
table tr th {
  border-right: 1px solid white;
  width: 150px;
  font-weight: 600;
}
/* line 510, ../scss/custom.scss */
table tr td {
  border-right: 1px solid #f0f0f0;
}
/* line 513, ../scss/custom.scss */
table tr th:last-child,
table tr td:last-child {
  border-right: none;
}

/* line 521, ../scss/custom.scss */
.table .row {
  margin: 0px;
}
/* line 524, ../scss/custom.scss */
.table .bg-white {
  background-color: rgba(250, 250, 250, 0.5);
  padding-top: 20px;
}
/* line 528, ../scss/custom.scss */
.table .bg-dark {
  background-color: #606060;
  padding: 10px;
}
/* line 533, ../scss/custom.scss */
.table .pink tr:first-child {
  background: #FFE4E8;
}
/* line 538, ../scss/custom.scss */
.table .peach tr:first-child {
  background: #FF9448;
}
/* line 540, ../scss/custom.scss */
.table .peach tr:first-child th {
  color: white;
}

/* line 548, ../scss/custom.scss */
.form {
  margin-bottom: 90px;
}
/* line 550, ../scss/custom.scss */
.form input {
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: transparent;
  box-shadow: none;
}
/* line 557, ../scss/custom.scss */
.form input:active,
.form input:focus {
  border-bottom: 1px solid #FF9448;
  background: transparent;
}
/* line 562, ../scss/custom.scss */
.form select {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  background: transparent;
}
/* line 567, ../scss/custom.scss */
.form select:hover {
  border-bottom: 1px solid #FF9448;
}
/* line 571, ../scss/custom.scss */
.form textarea {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: transparent;
  box-shadow: none;
}
/* line 576, ../scss/custom.scss */
.form textare:active,
.form textare:focus {
  border-bottom: 1px solid #FF9448;
  background: rgba(255, 255, 255, 0.3);
}
/* line 581, ../scss/custom.scss */
.form .light-bg {
  background-color: #f9f9f9;
  padding: 20px 30px;
  border-top: 3px solid #FF9448;
}
/* line 586, ../scss/custom.scss */
.form .dark-bg {
  background-color: #606060;
  padding: 20px 30px;
  border-top: 3px solid #FF9448;
  color: white;
}
/* line 591, ../scss/custom.scss */
.form .dark-bg input, .form .dark-bg label, .form .dark-bg select, .form .dark-bg textarea {
  color: white;
}
/* line 594, ../scss/custom.scss */
.form .dark-bg input {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
/* line 597, ../scss/custom.scss */
.form .dark-bg input:active,
.form .dark-bg input:focus {
  border-bottom: 1px solid #FF9448;
}
/* line 601, ../scss/custom.scss */
.form .dark-bg select {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
/* line 603, ../scss/custom.scss */
.form .dark-bg select:hover {
  border-bottom: 1px solid #FF9448;
}
/* line 607, ../scss/custom.scss */
.form .dark-bg textarea {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* line 613, ../scss/custom.scss */
.anchor {
  display: block;
  height: 115px;
  /*same height as header*/
  margin-top: -115px;
  /*same height as header*/
  visibility: hidden;
}

@media only screen and (max-width: 64em) {
  /* line 626, ../scss/custom.scss */
  .sidebar {
    display: none;
  }

  /* line 629, ../scss/custom.scss */
  .title {
    padding: 10px 30px;
  }
  /* line 631, ../scss/custom.scss */
  .title img {
    display: inline-block;
  }
  /* line 634, ../scss/custom.scss */
  .title h1 {
    font-size: 18px;
  }
  /* line 636, ../scss/custom.scss */
  .title h1 span {
    display: inline;
  }

  /* line 641, ../scss/custom.scss */
  .material {
    position: relative;
    z-index: 0;
    padding-left: 30px;
    padding-right: 30px;
  }
  /* line 646, ../scss/custom.scss */
  .material p {
    width: 100%;
    font-size: 13px;
  }
  /* line 650, ../scss/custom.scss */
  .material h2 {
    font-size: 36px;
    padding-bottom: 10px;
  }
  /* line 654, ../scss/custom.scss */
  .material h3 {
    font-size: 20px;
  }
  /* line 657, ../scss/custom.scss */
  .material h6 {
    font-size: 13px;
  }
  /* line 660, ../scss/custom.scss */
  .material hr {
    margin: 40px 0;
  }

  /* line 664, ../scss/custom.scss */
  .separator {
    display: none;
  }

  /* line 667, ../scss/custom.scss */
  .break {
    display: inline;
  }

  /* line 671, ../scss/custom.scss */
  .typography .h1 {
    font-size: 70px;
  }
  /* line 674, ../scss/custom.scss */
  .typography .h2 {
    font-size: 50px;
  }
  /* line 677, ../scss/custom.scss */
  .typography .p {
    width: 100%;
  }
}
